#billing_page{
    width: 100%;
}

.billing_title{
    color: #2eb0ff;
}

/*Side Menu*/

#side_menu{
    width: 25%;
    float: left;
    background: #ffffff;
    border-radius: 4px;
}

.side_menu_title{
    text-align: center;
}

.side_menu_logo{
    border-radius: 200px;
    width: 75px;
    border: 1px solid #ececec;
    margin: 25px 0 25px 0;
}

.side_menu_element{
    padding: 20px;
    cursor: pointer;
}

.side_menu_element:hover, .side_menu_element:active{
    background: #DCF1FF;
    color: #2eb0ff;
    border-right: 3px solid #2eb0ff;
}

/*Tab Content*/

.tab_container{
    width: 73%;
    float: right;
}

.tab_block{
    background: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.tab_title{
    font-size: 18px;
}