#billing_page{
    width: 100%;
}

.billing_title{
    color: #2eb0ff;
    font-size: 26px;
}

/*Side Menu*/

#side_menu{
    width: 25%;
    float: left;
    background: #ffffff;
    border-radius: 4px;
}

.side_menu_title{
    text-align: center;
}

.side_menu_logo{
    border-radius: 200px;
    width: 75px;
    border: 1px solid #ececec;
    margin: 25px 0 25px 0;
}

.side_menu_active_element{
    padding: 20px;
    cursor: pointer;
    background: #DCF1FF;
    color: #2eb0ff;
    border-right: 3px solid #2eb0ff;
}

.side_menu_element{
    padding: 20px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.side_menu_element:hover{
    background: #DCF1FF;
    color: #2eb0ff;
    border-right: 3px solid #2eb0ff;
}

/*Tab Content*/

.tab_container{
    width: 73%;
    float: right;
}

.tab_block{
    background: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.tab_title{
    font-size: 22px;
    text-align: left;
    padding: 0 0 10px 0;
}

.tab_important_text{
    padding: 20px;
    text-align: center;
}

.tab_description{
    padding: 10px 0;
}

.tab_text{
    text-align: left;
    padding: 5px 0;
    font-size: 14px;
}

#nb_club_members{
    font-size: 28px;
}

#tab_question{
    color: #2eb0ff;
    cursor: pointer;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

/* Formulaire */

.tab_form{
    padding: 10px 0;
}

.form_text{
    text-align: left;
    width: 30%;
    display: inline-block;
    color: gray;
}

.form_input{
    height: 44px!important;
    border: 1px solid gray!important;
    border-radius: 4px!important;
    width: 50%!important;
    font-size: 14px!important;
    padding: 0 10px!important;
    background: #ffffff!important;
    float: none!important;
}

.form_input::placeholder{
    opacity: 0.5;
}

option:first-child{
    opacity: 0.5;
}

.form_element{
    padding: 10px 0;
    text-align: left;
}

.form_error{
    color: red;
    font-size: 14px;
    display: inline-block;
    padding: 0 20px;
}

.form_success{
    color: lightgreen;
    font-size: 14px;
    display: inline-block;
    padding: 0 20px;
}

/*Banner*/

.banner_text{
    margin: 0 30px;
}

.banner_title{
    color: white;
    font-size: 28px;
    text-align: center;
}

.banner_subtitle{
    color: white;
    font-size: 14px;
    text-align: center;
}

#banner_button{
    float: right;
    margin: 28px;
    display: inline;
}

#banner{
    display: flex;
    width: 100%;
    height: 100px;
    background: #3bedba;
    border-radius: 4px;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}

/*Table*/

#table{
    padding: 20px;
    color: gray;
}

.row{
    display: flex;
    width: 100%;
    border-top: 1px solid #ececec;
}

.row:last-child{
    border-bottom: 1px solid #ececec;
}

.table_cell{
    display: inline-block;
    width: 18%;
    border-left: 1px solid #ececec;
    padding: 10px 5px;
}

.table_cell:last-child{
    border-right: 1px solid #ececec;
}



/*Common*/

.common_button{
    height: 44px;
    border-radius: 4px;
    background: #2eb0ff;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0 10px;
}

.bottom_infos{
    color: gray;
    padding: 30px 0 0 0;
    font-size: 14px;
    text-align: left;
}