#subscriptions_steps{
    width: 100%;
}

.step{
    width: 65%;
    background: #ffffff;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.back_button{
    cursor: pointer;
    width: 100px;
}

/*Common*/

.common_button{
    height: 44px;
    border-radius: 4px;
    background: #2eb0ff;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0 10px;
}

/*Progress Bar*/

.progress_bar{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.progress_line{
    width: 50%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 11px;
    z-index: -1;
}

#progress_line_1{
    background: linear-gradient(left, #2eb0ff 0%, #2eb0ff 0%,lightgrey 0%,lightgrey 100%);
}

#progress_line_2{
    background: linear-gradient(left, #2eb0ff 0%, #2eb0ff 33%,lightgrey 33%,lightgrey 100%);
}

#progress_line_3{
    background: linear-gradient(left, #2eb0ff 0%, #2eb0ff 66%,lightgrey 66%,lightgrey 100%);
}
#progress_line_4{
    background: linear-gradient(left, #2eb0ff 0%, #2eb0ff 100%,lightgrey 100%,lightgrey 100%);
}


.progress_steps{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    font-size: 12px;
    white-space: nowrap;
}

.old_step{
    display: flex;
    width: 17px;
    height: 17px;
    background: #2eb0ff;
    border: 5px solid #2eb0ff;
    border-radius: 100px;
    color: lightgray;
    justify-content: center;
}

.actual_step{
    display: flex;
    width: 17px;
    height: 17px;
    background: #ffffff;
    border: 5px solid #2eb0ff;
    border-radius: 100px;
    color: #2eb0ff;
    justify-content: center;
}

.future_step{
    display: flex;
    width: 17px;
    height: 17px;
    background: lightgrey;
    border: 5px solid lightgrey;
    border-radius: 100px;
    color: lightgrey;
    justify-content: center;
}

.step_label{
    position: relative;
    top: 25px;
}