@font-face {
  font-family: Circular;
  src: url('fonts/CircularStd-Book.otf'),
  url('fonts/CircularStd-Book.otf');
}

body{
  background: #ececec;
}

#billing_app{
  width: 75%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-family: "Circular";
}
