@font-face {
  font-family: Circular;
  src: url('fonts/CircularStd-Book.otf'),
  url('fonts/CircularStd-Book.otf');
}

body{
  background: #ececec;
}

#local_container{
  width:75%;
  margin-left: auto;
  margin-right: auto;
}

#billing_app{
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  font-family: "Circular", sans-serif;
}
